<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectFBoardListCount">
		SELECT 
					COUNT(*) as COUNT
		FROM
					BOARD
		WHERE 
					BOARD_TYPE = 0	
			AND	STATUS = 'Y'
	</entry>
	
	<entry key="selectFBoardList">
		SELECT *
	  	FROM (
						SELECT
							    B.BOARD_NO,
							    B.BOARD_TYPE,
							    U.USER_ID,
							    U.PROFILE_PATH,
							    M.MOVIE_TITLE,
							    M.MOVIE_CONTENT,
							    M.OPEN_DATE,
							    M.TITLE_PATH,
							    ROW_NUMBER() OVER(ORDER BY B.BOARD_NO DESC) as RNUM
						FROM 
						   	  BOARD B
						JOIN  USERS U ON B.USER_NO = U.USER_NO
						JOIN  MOVIE M ON B.MOVIE_NO = M.MOVIE_NO
						WHERE
						    	B.BOARD_TYPE = 0
						AND 	B.STATUS = 'Y'
			   )
	WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectBoardByNo">
		SELECT
						B.BOARD_NO
					, B.BOARD_TITLE
					, B.BOARD_CONTENT
					, TO_CHAR(B.REGIST_DATE, 'YYYY/MM/DD') as REGIST_DATE
					, U.USER_ID
					, M.GENRE
					, M.TITLE_PATH
			FROM
					 BOARD B
			JOIN  USERS U ON B.USER_NO = U.USER_NO
			JOIN  MOVIE M ON B.MOVIE_NO = M.MOVIE_NO
	 	WHERE 
	 			B.BOARD_NO = ?
	   AND B.STATUS = 'Y'
	</entry>
	
	<entry key="insetReply">
		INSERT
		INTO REPLY
		    (
		    	REPLY_NO
		    ,	USER_NO
		    ,	REPLY_CONTENT
		    ,	BOARD_NO
		    )
		    VALUES
		    (
		   	  SEQ_REPLYNO.NEXTVAL
		    , ?
		    , ?
		    , ?
	    )
	</entry>
	
	<entry key="deleteReply">
		UPDATE
					REPLY
			SET
				  STATUS ='N'
		WHERE
					REPLY_NO = ? 
	</entry>
	
	<entry key="selectTBoardReplyCount">
		SELECT 
					COUNT(*) as COUNT
		FROM
					REPLY
		WHERE 
				  BOARD_NO = ?		
			AND	STATUS = 'Y'
	</entry>
	
	<entry key="selectReplyList">
		SELECT *
		  FROM (
		  			SELECT
										REPLY_NO
									, REPLY_CONTENT
									, TO_CHAR(R.REGIST_DATE, 'MM/DD HH:MI:SS') as REGIST_DATE
									, USER_ID
									, PROFILE_PATH
									, ROW_NUMBER() OVER(ORDER BY R.REPLY_NO DESC) as RNUM
						 FROM
										REPLY R
		 				 JOIN USERS U ON (R.USER_NO = U.USER_NO)
					  WHERE
					  			R.BOARD_NO = ?
					  	AND R.STATUS = 'Y'
					  	)
					  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="FBoardInsertSearchCount">
		SELECT
        	   COUNT(*) as COUNT
 		  FROM
       		   MOVIE
		 WHERE
				 	   MOVIE_TITLE LIKE '%' || ? || '%' 
			    OR GENRE LIKE '%' || ? || '%'
			    OR DIRECTOR LIKE '%' || ? || '%'
			    OR ACTOR LIKE '%' || ? || '%'
			   AND STATUS IN ('10', '20')
	</entry>
	
	<entry key="FboardInsertSaerchList">
		SELECT *
					FROM (
						    SELECT
						           MOVIE_NO,
						           MOVIE_TITLE,
						           GENRE,
						           ACTOR,
						           DIRECTOR,
						           TITLE_PATH,
						           ROW_NUMBER() OVER(ORDER BY MOVIE_TITLE) AS RNUM
				    FROM 
				           MOVIE
				    WHERE 
				           STATUS IN ('10', '20') 
				      AND (
				           MOVIE_TITLE LIKE '%' || ? || '%' 
				        OR GENRE LIKE '%' || ? || '%'
				        OR ACTOR LIKE '%' || ? || '%'
				        OR DIRECTOR LIKE '%' || ? || '%'
				        
				      )
			)
			WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="insertFBoard">
		INSERT
		INTO BOARD
		    (
		    	BOARD_NO
		    ,	BOARD_TYPE
		    ,	BOARD_TITLE
		    ,	BOARD_CONTENT
		    , USER_NO
		    , MOVIE_NO
		    )
		    VALUES
		    (
		   	  SEQ_BOARDNO.NEXTVAL
		    , ?
		    , ?
		    , ?
		    , ?
		    , ?
	    )
	</entry>
	
	<entry key="FBoarSearchCount0">
		SELECT
        	   COUNT(*) as COUNT
 		  FROM
       		   BOARD
		 WHERE
				 	   BOARD_TITLE LIKE '%' || ? || '%' 
			    OR BOARD_CONTENT LIKE '%' || ? || '%'

			   AND STATUS IN ('Y')
	</entry>
	
<entry key="FBoarSearchCount1">
    SELECT
        COUNT(*) as COUNT
    FROM
        BOARD B
    JOIN
        USERS U ON B.USER_NO = U.USER_NO
    WHERE
        U.USER_ID LIKE '%' || ? || '%' 
        AND B.STATUS IN ('Y')
</entry>
	
	<entry key="FboardSaerchList0">
		SELECT *
					FROM (
						    SELECT
						           B.BOARD_NO,
										   B.BOARD_TYPE,
										   U.USER_ID,
										   U.PROFILE_PATH,
										   M.MOVIE_TITLE,
										   M.MOVIE_CONTENT,
										   M.OPEN_DATE,
										   M.TITLE_PATH,
										   ROW_NUMBER() OVER(ORDER BY B.BOARD_NO DESC) as RNUM
				    FROM 
				           BOARD B
				    JOIN  USERS U ON B.USER_NO = U.USER_NO
						JOIN  MOVIE M ON B.MOVIE_NO = M.MOVIE_NO
				    WHERE 
				           B.STATUS IN ('Y') 
				      AND (
				               BOARD_TITLE LIKE '%' || ? || '%' 
			   					  OR BOARD_CONTENT LIKE '%' || ? || '%' 
				      )
			)
			WHERE RNUM BETWEEN ? AND ?
	</entry>

	
	<entry key="FboardSaerchList1">
		SELECT *
					FROM (
						    SELECT
						           B.BOARD_NO,
										   B.BOARD_TYPE,
										   U.USER_ID,
										   U.PROFILE_PATH,
										   M.MOVIE_TITLE,
										   M.MOVIE_CONTENT,
										   M.OPEN_DATE,
										   M.TITLE_PATH,
										   ROW_NUMBER() OVER(ORDER BY B.BOARD_NO DESC) as RNUM
				    FROM 
				           BOARD B
				    JOIN  USERS U ON B.USER_NO = U.USER_NO
						JOIN  MOVIE M ON B.MOVIE_NO = M.MOVIE_NO
				    WHERE 
				           B.STATUS IN ('Y') 
				      AND (
				            U.USER_ID LIKE '%' || ? || '%' 
				      )
			)
			WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="deleteboard">
		UPDATE
					BOARD
			SET
					STATUS = 'N'
		WHERE 
					BOARD_NO = ?
	</entry>
	
	<entry key="selectAllFboardList">
			SELECT B.*
					 , U.USER_ID
				FROM
						 BOARD B
				JOIN
						 USERS U ON B.USER_NO = U.USER_NO
			 WHERE
			 			 B.BOARD_TYPE = 0
	</entry>
	
	<entry key="selectPagingShowFboardList">
		SELECT *
		  FROM 
		       (
		       SELECT
		       		    B.BOARD_NO
								, B.BOARD_TYPE
								, B.BOARD_TITLE
								, B.BOARD_CONTENT
								, B.BOARD_COUNT
								, B.REGIST_DATE
								, B.STATUS
								, B.USER_NO
								, B.TASTE_NO
								, B.MOVIE_NO
								, U.USER_ID
							  , ROW_NUMBER() OVER(ORDER BY USER_NO DESC) as RNUM
					  FROM
					  		 B.BOARD
					  JOIN
						 		 USERS U ON B.USER_NO = U.USER_NO
					 WHERE
					 			 B.BOARD_TYPE = '0'
								
	</entry>
	
	
	

</properties>
