<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectTBoardListCount">
		SELECT 
					COUNT(*) as COUNT
		FROM
					BOARD
		WHERE 
					BOARD_TYPE = 1
			AND TASTE_NO = ?		
			AND	STATUS = 'Y'
	</entry>
	
	<entry key="selectTBoardList">
		SELECT *
	  	FROM (
						SELECT
							    B.BOARD_NO,
							    B.BOARD_TYPE,
							    U.USER_ID,
							    U.PROFILE_PATH,
							    M.MOVIE_TITLE,
							    M.MOVIE_CONTENT,
							    M.OPEN_DATE,
							    M.TITLE_PATH,
							    T.TASTE_NO,
							    T.TASTE_CODE,
							    ROW_NUMBER() OVER(ORDER BY B.BOARD_NO DESC) as RNUM
						FROM 
						   	  BOARD B
						JOIN  USERS U ON B.USER_NO = U.USER_NO
						JOIN  TASTE T ON B.TASTE_NO = T.TASTE_NO
						JOIN  MOVIE M ON B.MOVIE_NO = M.MOVIE_NO
						WHERE
						    	B.BOARD_TYPE = 1
						AND 	T.TASTE_NO = ?
						AND 	B.STATUS = 'Y'
			   )
	WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectBoardByNo">
		SELECT
						B.BOARD_NO
					, B.BOARD_TITLE
					, B.BOARD_CONTENT
					, TO_CHAR(B.REGIST_DATE, 'YYYY/MM/DD') as REGIST_DATE
					, U.USER_ID
					, M.GENRE
					, M.TITLE_PATH
					, T.TASTE_NO
					, T.TASTE_CODE
			FROM
					 BOARD B
			JOIN  USERS U ON B.USER_NO = U.USER_NO
			JOIN  MOVIE M ON B.MOVIE_NO = M.MOVIE_NO
			JOIN  TASTE T ON B.TASTE_NO = T.TASTE_NO
	 	WHERE 
	 			B.BOARD_NO = ?
	   AND B.STATUS = 'Y'
	</entry>
	
	<entry key="insetReply">
		INSERT
		INTO REPLY
		    (
		    	REPLY_NO
		    ,	USER_NO
		    ,	REPLY_CONTENT
		    ,	BOARD_NO
		    )
		    VALUES
		    (
		   	  SEQ_REPLYNO.NEXTVAL
		    , ?
		    , ?
		    , ?
	    )
	</entry>
	
	<entry key="deleteReply">
		UPDATE
					REPLY
			SET
				  STATUS ='N'
		WHERE
					REPLY_NO = ? 
	</entry>
	
	<entry key="selectTBoardReplyCount">
		SELECT 
					COUNT(*) as COUNT
		FROM
					REPLY
		WHERE 
				  BOARD_NO = ?		
			AND	STATUS = 'Y'
	</entry>
	
	<entry key="selectReplyList">
		SELECT *
		  FROM (
		  			SELECT
										REPLY_NO
									, REPLY_CONTENT
									, TO_CHAR(R.REGIST_DATE, 'MM/DD HH:MI:SS') as REGIST_DATE
									, USER_ID
									, PROFILE_PATH
									, ROW_NUMBER() OVER(ORDER BY R.REPLY_NO DESC) as RNUM
						 FROM
										REPLY R
		 				 JOIN USERS U ON (R.USER_NO = U.USER_NO)
					  WHERE
					  			R.BOARD_NO = ?
					  	AND R.STATUS = 'Y'
					  	)
					  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="TBoardInsertSearchCount">
		SELECT
        	   COUNT(*) as COUNT
 		  FROM
       		   MOVIE
		 WHERE
				 	   MOVIE_TITLE LIKE '%' || ? || '%' 
			    OR GENRE LIKE '%' || ? || '%'
			    OR DIRECTOR LIKE '%' || ? || '%'
			    OR ACTOR LIKE '%' || ? || '%'
			   AND STATUS IN ('10', '20')
			   AND TASTE_NO = ?
	</entry>
	
	<entry key="TboardInsertSaerchList">
		SELECT *
					FROM (
						    SELECT
						           MOVIE_NO,
						           MOVIE_TITLE,
						           GENRE,
						           ACTOR,
						           DIRECTOR,
						           TITLE_PATH,
						           ROW_NUMBER() OVER(ORDER BY MOVIE_TITLE) AS RNUM
				    FROM 
				           MOVIE
				    WHERE 
				           STATUS IN ('10', '20') 
				      AND (
				           MOVIE_TITLE LIKE '%' || ? || '%' 
				        OR GENRE LIKE '%' || ? || '%'
				        OR ACTOR LIKE '%' || ? || '%'
				        OR DIRECTOR LIKE '%' || ? || '%'
				        
				      )
				      AND TASTE_NO = ?
			)
			WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="insertTBoard">
		INSERT
		INTO BOARD
		    (
		    	BOARD_NO
		    ,	BOARD_TYPE
		    ,	BOARD_TITLE
		    ,	BOARD_CONTENT
		    , USER_NO
		    , TASTE_NO
		    , MOVIE_NO
		    )
		    VALUES
		    (
		   	  SEQ_BOARDNO.NEXTVAL
		    , 1
		    , ?
		    , ?
		    , ?
		    , ?
		    , ?
	    )
	</entry>
	
	<entry key="TBoardccConut0">
		SELECT
        	   COUNT(*) as COUNT
 		  FROM
       		   BOARD
		 WHERE
				 	   BOARD_TITLE LIKE '%' || ? || '%' 
			    OR BOARD_CONTENT LIKE '%' || ? || '%'

			   AND STATUS IN ('Y')
			   AND TASTE_NO = ?
	</entry>
	
	<entry key="TBoardccConut1">
    SELECT
        COUNT(*) as COUNT
    FROM
        BOARD B
    JOIN
        USERS U ON B.USER_NO = U.USER_NO
    WHERE
        U.USER_ID LIKE '%' || ? || '%' 
        AND B.STATUS IN ('Y')
        AND B.TASTE_NO = ?
	</entry>
	
	<entry key="TboardSaerchList0">
		SELECT *
					FROM (
						    SELECT
						           B.BOARD_NO,
										   B.BOARD_TYPE,
										   U.USER_ID,
										   U.PROFILE_PATH,
										   M.MOVIE_TITLE,
										   M.MOVIE_CONTENT,
										   M.OPEN_DATE,
										   M.TITLE_PATH,
										   ROW_NUMBER() OVER(ORDER BY B.BOARD_NO DESC) as RNUM
				    FROM 
				           BOARD B
				    JOIN  USERS U ON B.USER_NO = U.USER_NO
						JOIN  MOVIE M ON B.MOVIE_NO = M.MOVIE_NO
				    WHERE 
				           B.STATUS IN ('Y') 
				      AND (
				               BOARD_TITLE LIKE '%' || ? || '%' 
			   					  OR BOARD_CONTENT LIKE '%' || ? || '%' 
				      )
				      AND B.TASTE_NO = ?
			)
			WHERE RNUM BETWEEN ? AND ?
	</entry>

	
	<entry key="TboardSaerchList1">
		SELECT *
					FROM (
						    SELECT
						           B.BOARD_NO,
										   B.BOARD_TYPE,
										   U.USER_ID,
										   U.PROFILE_PATH,
										   M.MOVIE_TITLE,
										   M.MOVIE_CONTENT,
										   M.OPEN_DATE,
										   M.TITLE_PATH,
										   ROW_NUMBER() OVER(ORDER BY B.BOARD_NO DESC) as RNUM
				    FROM 
				           BOARD B
				    JOIN  USERS U ON B.USER_NO = U.USER_NO
						JOIN  MOVIE M ON B.MOVIE_NO = M.MOVIE_NO
				    WHERE 
				           B.STATUS IN ('Y') 
				      AND (
				            U.USER_ID LIKE '%' || ? || '%' 
				      )
				      AND B.TASTE_NO = ?
			)
			WHERE RNUM BETWEEN ? AND ?
	</entry>

	
	<entry key="deleteboard">
		UPDATE
					BOARD
			SET
					STATUS = 'N'
		WHERE 
					BOARD_NO = ?
	</entry>
	<entry key="selectUser2">
    SELECT *
      FROM (
            SELECT
                   b.BOARD_NO,
                   b.BOARD_TITLE,
                   b.REGIST_DATE,
                   u.USER_ID,
                   ROW_NUMBER() OVER(ORDER BY b.REGIST_DATE DESC) as RNUM
              FROM 
                   BOARD b
              JOIN 
                   USERS 
                   u ON b.USER_NO = u.USER_NO
             WHERE 
                   u.USER_ID = ?
           )
     WHERE RNUM BETWEEN ? AND ?
</entry>

</properties>
