<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="searchMovieList">
	
		<!-- searchData활용해서 영화 조회 -->
	
	    SELECT *
  		  FROM (
		        SELECT
			    	   MOVIE_NO
		    	 	 , MOVIE_TITLE
		    		 , GENRE
			    	 , DIRECTOR
			    	 , TITLE_PATH
			    	 , ROW_NUMBER() OVER(ORDER BY MOVIE_TITLE) AS RNUM
			      FROM 
			      	   MOVIE
			     WHERE 
			      	   MOVIE_TITLE LIKE '%' || ? || '%' 
			       	OR GENRE LIKE '%' || ? || '%'
			       	OR DIRECTOR LIKE '%' || ? || '%'
			       	OR ACTOR LIKE '%' || ? || '%'
        		)
		  WHERE RNUM BETWEEN ? 
		  	AND ?
	</entry>
	
	<entry key="selectMovieListCount">
	
		<!-- 영화 페이징 처리 위한 쿼리문 -->
	
		SELECT
        	   COUNT(*) as COUNT
 		  FROM
       		   MOVIE
		 WHERE
		 	   MOVIE_TITLE LIKE '%' || ? || '%' 
	       	OR GENRE LIKE '%' || ? || '%'
	       	OR DIRECTOR LIKE '%' || ? || '%'
	       	OR ACTOR LIKE '%' || ? || '%'
       	   AND STATUS IN (10, 20);
	</entry>
	
	<entry key="insertMovie">
	
	<!-- 관리자화면 - 영화등록 -->
	
		INSERT
		  INTO MOVIE
		  (
		  	MOVIE_NO
		  , MOVIE_TITLE
		  , MOVIE_CONTENT
		  , GENRE
		  , PLAYTIME
		  , COUNTRY
		  , AGE_LV
		  , OPEN_DATE
		  , DIRECTOR
		  , AUDIENCE_COUNT
		  , ACTOR
		  , PREVIEW
		  , STATUS
		  , GRADE
		  , TITLE_PATH
		  , CONTENT_PATH
		  , TASTE_NO
		  )
		  VALUES
		  (
		  	SEQ_MOVIENO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="selectShowingMovieList">
		<!-- 상영중인 영화 모든 정보 조회 -->
		SELECT
						MOVIE_NO
					,	MOVIE_TITLE
					,	MOVIE_CONTENT
					,	GENRE
					,	PLAYTIME
					,	COUNTRY
					,	AGE_LV
					,	OPEN_DATE
					,	DIRECTOR
					,	AUDIENCE_COUNT
					,	ACTOR
					,	PREVIEW
					,	STATUS
					,	GRADE
					,	TITLE_PATH
					,	CONTENT_PATH
					,	TASTE_NO
		FROM 
					MOVIE
		WHERE STATUS = '10'
		
	</entry>
	
	<entry key="ottMovieList">
	
			<!-- 관리자 화면(영화 관리)에서 'OTT영화' 탭 클릭시 조회되는 영화 리스트 -->
	
		SELECT
						MOVIE_NO
					,	MOVIE_TITLE
					,	MOVIE_CONTENT
					,	GENRE
					,	PLAYTIME
					,	COUNTRY
					,	AGE_LV
					,	OPEN_DATE
					,	DIRECTOR
					,	AUDIENCE_COUNT
					,	ACTOR
					,	PREVIEW
					,	STATUS
					,	GRADE
					,	TITLE_PATH
					,	CONTENT_PATH
					,	TASTE_NO
		FROM 
					MOVIE
		WHERE 
					STATUS = '20'
	</entry>
	
	<entry key="selectMovieByNo">
				SELECT
						MOVIE_NO
					,	MOVIE_TITLE
					,	MOVIE_CONTENT
					,	GENRE
					,	PLAYTIME
					,	COUNTRY
					,	AGE_LV
					,	OPEN_DATE
					,	DIRECTOR
					,	AUDIENCE_COUNT
					,	ACTOR
					,	PREVIEW
					,	STATUS
					,	GRADE
					,	TITLE_PATH
					,	CONTENT_PATH
					,	TASTE_NO
		FROM 
					MOVIE
		WHERE 
					MOVIE_NO = ?
	</entry>
	





</properties>