<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectMovieList">
	    SELECT
	    	   MOVIE_NO
	    	 , MOVIE_TITLE
	    	 , GENRE
	    	 , DIRECTOR
	    	 , MAIN_PATH
	      FROM 
	      	   MOVIE
	     WHERE 
	      	   MOVIE_TITLE LIKE '%' || ? || '%' 
	       	OR GENRE LIKE '%' || ? || '%'
	       	OR DIRECTOR LIKE '%' || ? || '%'
	       	OR ACTOR LIKE '%' || ? || '%'
	</entry>
	
	<entry key="insertMovie">
		INSERT
		  INTO MOVIE
		  (
		  	MOVIE_NO
		  , MOVIE_TITLE
		  , MOVIE_CONTENT
		  , GENRE
		  , PLAYTIME
		  , COUNTRY
		  , AGE_LV
		  , OPEN_DATE
		  , DIRECTOR
		  , AUDIENCE_COUNT
		  , ACTOR
		  , PREVIEW
		  , STATUS
		  , GRADE
		  , TITLE_PATH
		  , CONTENT_PATH
		  , TASTE_NO
		  )
		  VALUES
		  (
		  	SEQ_MOVIENO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>





</properties>