<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="rvListByDate">
		SELECT 
					R.REVIEW_NO
				, R.REVIEW_CONTENT
				, R.GRADE
				, R.USER_NO
				, R.MOVIE_NO
				, R.REVIEW_DATE
				, U.USER_NICKNAME
			FROM 
					REVIEW R
		  JOIN
		  		USERS U ON R.USER_NO = U.USER_NO
		 WHERE
		 		  R.MOVIE_NO = ?
		 ORDER
		 	  BY 
		 	  	R.REVIEW_DATE DESC
	</entry>

</properties>