<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/관리자메인페이지.css">
</head>
<body>
    <div id="main">
        <div id="head">
            <div id="mvp_logo">
                <img src="../DG/assets/image/logo/moviepick_logo.png" style="margin-left: 366px;">
            </div>
            <div style="display: flex; align-items: center;">
                <img src="../DG/assets/image/logo/home_logo.png" style="margin-right: 15px;">
                <img src="../DG/assets/image/logo/moviepick_logo.png" style="margin-right: 50px;">
                <img src="../DG/assets/image/logo/logout_logo.png" style="margin-right: 15px;">
                <span>로그아웃</span>
            </div> <!-- head div 끝 -->
        </div>
        <div id="body">
            <div id="body-top">
                <span style="margin-left: 526px;">영화관리</span>
                <img src="../DG/assets/image/logo/user_logo.png" style="margin-left: 756px;">
                <span>000관리자님 환영합니다.</span>
            </div>
            <div id="">

            </div>
        </div>
    </div> <!-- main div 끝 -->
</body>
</html>