<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" href="css/비교페이지.css">

</head>
<body>
  <div id="main">

    <div id="result-text"> <!-- result-text div 시작 -->
      <p>
      신차원! 짱구는 못말려 더 무비... 평점이 더 좋아요!
      user01님 취향과 일치하는 영화입니다🥳
      </p>
    </div> <!-- result-text div 끝 -->

    <div id="compare-list">
      <div id="compare-list-movie">
        <img src="../assets/image/Dell.png" style="margin-top: 10px; float: right; margin-right: 10px;">
        <img src="../assets/image/movie_image3.png" id="movie-mainimage">
        <hr style="border: 1px solid #ffffff30; width: 270px;">
        <p id="movie-title">신차원! 짱구는 못말려 더 무비..</p>
        

        <div id="movie-content"> <!-- movie-content div 시작 -->   
          <div id="movie-content-top"> <!-- movie-content-top div 시작 -->
            <div>
              <p class="p-title">감독</p>
              <p class="p-content">감독명</p>
            </div>
            <div>
              <p class="p-title">배우</p>
              <p class="p-content">배우명</p>
            </div>
            <div>
              <p class="p-title">장르</p>
              <p class="p-content">장르명</p>
            </div>
            <div>
              <p class="p-title">재생시간</p>
              <p class="p-content">000분</p>
            </div>
            <div>
              <p class="p-title">연령등급</p>
              <p class="p-content">전체관람가</p>
            </div>
            <div>
              <p class="p-title">제작국가</p>
              <p class="p-content">국가명</p>
            </div>
            <div>
              <p class="p-title">개봉일</p>
              <p class="p-content">YYYY.MM.DD</p>
            </div>
            <div>
              <p class="p-title">관객수</p>
              <p class="p-content">00만명</p>
            </div>
          </div> <!-- movie-content-top div 끝 -->

          <div id="movie-content-bottom"> <!-- movie-content-bottom div 시작 -->
            <div id="rating">
              <p style="margin-bottom: 4px;">평점</p>
              <div id="rating-list">
                <div class="mvp">
                  <div style="width: 92px; height: 49px; background-color: #131313; border-radius: 10px;">
                    <p>무비픽 평점</p>
                      <div>
                        <img src="../assets/image/Star 1.png" style="margin-left: 13px;">
                        <span>0.00</span>
                      </div>
                  </div>
                </div>
                <div class="naver">
                  <div style="width: 92px; height: 49px; background-color: #131313; border-radius: 10px;"></div>
                </div>
              </div> <!-- rating-list div 끝 -->
            </div> <!-- rating div 끝 -->
            <div></div>
            <div></div>
          </div> <!-- movie-content-bottom div 끝 -->
        </div> <!-- movie-content div 끝 -->   
      </div>
      <div id="compare-list-movie">
        <img src="../assets/image/Dell.png" style="margin-top: 10px; float: right; margin-right: 10px;">
      </div>
      <div id="compare-list-movie">
        <img src="../assets/image/Dell.png" style="margin-top: 10px; float: right; margin-right: 10px;">
      </div>
    </div> <!-- coampare-list div 끝 -->

  </div> <!-- main div 끝 -->
</body>
</html>