@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");

body {
  margin: 0;
  padding: 0;
  font-family: 'pretandard';
}

body {
  background: #131313;
  margin: 0;
  border: 1px solid blue;
}

#main_img_div {
  position: relative;
  display: flex;
  justify-content: center;
}

#main_img {
  width: 1278px;
  height: 719px;
}

/* 이미지 그라데이션 효과 */
#gradient_overlay {
  position: absolute;
  bottom: 0;
  width: 1278px;
  height: 300px;
  background: linear-gradient(to top, #131313, rgba(0, 0, 0, 0));
  pointer-events: none; /* 이미지 클릭 방지 */
}
#detaileImgBtn {
  background-color: #f33f3f;
  color: #ffffff;

  border-radius: 10%;
}
h1 {
  color: #ffffff;
  font-weight: bold;
}
p {
  margin: 0;
}
#head_P_Tag {
  color: #ffffff;
  font-family: "pretendard";
  margin-bottom: 35px;
}

button {
  padding: 0px;
}
/* 글씨 데코레이션 */
#img_text {
  position: absolute;
  bottom: 30px; /* 텍스트가 이미지 위에서 아래쪽에 위치하게 설정 */
  left: 45%; /* 왼쪽 여백 설정 */
  display: flex;
  flex-direction: column;
}
#img_btn_style > button {
  height: 50px;
  border-style: none;
  border-radius: 6%;
  background: #f33f3f;
  color: #ffffff;
  font-size: 17px;
}
#like {
  width: 28px;
  fill: #ffffff;
}
#like.active {
  fill: #f33f3f;
}

/*x표시 현재 absolute 상태 추후 Img div에 넣어 같이 움직임 필요*/
#back {
  position: absolute;
  top: 5%;
  left: 13%;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  cursor: pointer;
  font-size: 30px;
}

#main_content_1 {
  display: flex;
  justify-content: center;
}

#right_contents {
  border: 1px solid red;
  width: 422px;
  height: 750px;
  border-radius: 3%;
  background-color: #262626;
}
.right_contents_margin {
  margin: 26px 38px;
}
#right_content_line1 {
  display: flex;
  flex-direction: row;
}
#right_content_line1 > button {
  border-style: none;
  border-radius: 6%;
  background: #f33f3f;
  color: #ffffff;
  margin-left: 140px;
  padding: 9px 9px;
  font-size: 68%;
  font-weight: bold;
  width: 92px;
  height: 34px;
}

.AVG_STAR {
  width: 92px;
  height: 49px;
  background-color: #131313;
  border-radius: 10%;
  margin-top: 10px;
  font-weight: bold;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.AVG_STAR > p {
  display: flex;
  justify-content: center;
}
.AVG_STAR_img_p_tag {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.AVG_STAR_img_p_tag > img {
  width: 17px;
  height: 17px;
  margin-right: 10px;
}

.right_title {
  font-size: 15px;
  font-weight: bold;
}
.right_content {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 8px;
}
.right_line {
  height: 1px;
  width: 348px;
  background-color: #646464;
  margin-top: 8px;
  margin-bottom: 13px;
}
#right_content_line1 > button > img {
  width: 20px;
  height: 16px;
  margin-right: 4px;
  margin-bottom: 6px;
}

#left_contents {
  border: 1px solid rgb(139, 77, 255);
  margin-right: 31px;
}

.left_contents_line1 {
  background-color: #262626;
  width: 822px;
  padding: 25px 35px;
  margin-bottom: 30px;
}
.left_contents_line1 > p {
  width: 754px;
  color: #ffffff;
}
.left_contents_line1 > h6 {
  width: 754px;
  font-size: 18px;
  color: #adadad;
}

#ott a > img {
  margin-right: 10px;
}

#rating_title {
  font-size: 11px;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

#rating_chekc_star {
  display: flex;
  justify-content: flex-start;
}
#rating_chekc_star > p {
  color: #ffffff;
  margin-right: 5px;
  font-size: 16px;
}
#rating_chekc_star > input {
  width: 15px;
}
.star-rating {
  margin-left: 290px;
 }

.star {
  appearance: none;
  padding: 1px;
}

.star::after {
  content: "☆";
  color: hsl(60, 71%, 51%);
  font-size: 30px;
}

.star:hover::after,
.star:has(~ .star:hover)::after,
.star:checked::after,
.star:has(~ .star:checked)::after {
  content: "★";
}

.star:hover ~ .star::after {
  content: "☆";
}

#searchInput {
  margin-top: 13px;
  width: 100%;
}
#form-control {
  background-color: #131313;
  width: 650px;
  height: 42px;
  color: #d6d6d6;
  font-family: "pretendard";
}
#searchButton > button {
  width: 94px;
  height: 43px;
  font-family: "pretendard";
}



#review{
  border: 1px solid white;
}

#review_menu{
  border: 1px solid pink;
  background-color: #707070;
}

.review_title{
  background: #ffffff;
  border-radius: 10%;
  width: 65px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}

.top_review{
  width: 384px;
  margin-top: 16px;
  background: #262626;
  padding: 10px;
  border-radius: 5%;
}
.user_header{
  display: flex; 
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
}
.user_header > img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.review_str{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 25px;
}
.review_str > img{
  width: 25px;
  height: 25px;
  margin-left: 185px;
  margin-right: 7px;
}
.review_body_content{
  height: 100px;
  
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}
.review_thumb_up{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ffffff;
}
.review_thumb_up > i{
  width: 24px;
  height: 24px;
}
.review_body_content_spoiler{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  margin: 26px 0px;
}
.review_body_content_spoiler > p {
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.review_body_content_spoiler button{
  width: 49px;
  height: 21px;
  font-size: 11px;
  justify-content: center;
  align-items: center;
  background-color: #F33F3F;
  color: #ffffff;
  border: 0;
  border-radius: 10%;
  margin-top: 15px;
  font-weight: bold;
}