<!DOCTYPE html>
<html lang="en" id="back">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Document</title>
 <!-- Bootstrap 사용을 위한 CDN -->
   <!-- Bootstrap 사용을 위한 CDN -->
   

   <link rel="stylesheet" href="assets/css/회원정보수정.css">
 <!-- ------------------------- -->
</head>

 <body>
      <hr style="width: 200px; border: 1px solid red;">
      <div class="container">
        <div class="header">
        <div class="icon">
            <img src="../webapp/assets/image/city3.jpg" id="ui">
          <div id="font1">test01</div>
      </div>
    </div>
      
        <div class="title">회원정보 수정</div>
        <div>
          
        </div>
        

                <button>ds</button>
            </body>
